:root {
    --navy: rgb(15, 15, 32);
    --lightnavy: rgb(33, 33, 41);
    --wizardblue: rgb(107, 201, 233);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Belanosima", sans-serif;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
}