.homeBody {
  padding: 16px 5vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  background-color: var(--lightnavy);
  height: 100%;
  min-height: 90vh;
  align-items: center;
}

.levelsTitle {
  width: 100%;
  color: white;
  border-bottom: 2px solid red;
  font-size: 2.5rem;
  padding: 8px 12px;
}

.levelsWrap {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7vw;
  row-gap: 5vh;
  width: 80vw;
  height: 100%;
}

.levelCard {
  background-color: var(--navy);
  padding: 8px;
  text-decoration: none;
  position: relative;
  transition: 0.2s ease-in;
}

.levelCard:hover {
  transform: scale(1.02);
}

.levelCard#lvl6 {
  grid-column: 2 / 3;
}

.lvlInfo {
  display: flex;
  flex-direction: column;
}

.lvlName {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.lvlImg {
  width: 100%;
}

.difficultyWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.lvlDifficulty {
  font-size: 1rem;
  text-decoration: none;
}

.lvlDifficulty.easy {
  color: green;
}

.lvlDifficulty.medium {
  color: yellow;
}

.lvlDifficulty.hard {
  color: red;
}

.lvlDifficulty.extreme {
  color: darkred;
}

.difficultyBars {
  display: flex;
  gap: 4px;
}

.diffBar {
  width: 2vw;
  height: 4px;
  background-color: var(--lightnavy);
}

.green {
  background-color: green;
  box-shadow: 0px 0px 6px green;
}

.yellow {
  background-color: yellow;
  box-shadow: 0px 0px 6px yellow;
}

.red {
  background-color: red;
  box-shadow: 0px 0px 6px red;
}

.blood {
  background-color: darkred;
  box-shadow: 0px 0px 6px darkred;
}

@media (max-width: 1000px) {
  .levelsWrap {
    grid-template-columns: 1fr 1fr;
  }
  .levelCard#lvl6 {
    grid-column: 1/2;
  }
}
@media (max-width: 600px) {
  .levelsWrap {
    grid-template-columns: 1fr;
  }
  .levelCard#lvl6 {
    grid-column: 1/2;
  }
}