.levelPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  background-color: var(--lightnavy);
}

.lvlImg {
  width: 100%;
}

.placeClicked {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content
}

.charBtn {
  background-color: whitesmoke;
  border: none;
  font-size: 1.3rem;
  padding: 8px 16px;
}

.charBtn:hover {
    background-color: rgb(202, 202, 202);
}

/* Level Modal */

.lvlModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(12, 12, 19, 0.8);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--navy);
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  gap: 16px;
}

.toFindTxt {
  font-size: 3rem;
  color: white;
}

.charsToFind {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.charToFindWrap {
  display: flex;
  width: 100%;
  gap: 12px;
}

.modalChar {
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 35px;
  border: 2px solid red;
  box-shadow: 0px 0px 6px red;
}

.modalChar.yellow {
  border: 2px solid yellow;
  box-shadow: 0px 0px 6px yellow;
}

.modalChar.blue {
  border: 2px solid var(--wizardblue);
  box-shadow: 0px 0px 6px var(--wizardblue);
}

.charToFindInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charName {
  font-size: 1.4rem;
  color: white;
}

.charDesc {
  font-size: 1rem;
  color: white;
}

.startGame {
  background-color: red;
  border: none;
  color: white;
  font-size: 2.5rem;
  width: 80%;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.startGame:hover {
  cursor: pointer;
  background-color: white;
  color: red;
}

.foundDialouge {
  position: fixed;
  font-size: 2rem;
  width: fit-content;
  bottom: 8px;
  text-align: center;
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  display: none;
  align-self: center;
  padding: 0px 8px;
}

.foundwaldo,
.foundwenda {
  color: red;
}

.foundodlaw {
  color: yellow;
}

.foundwizard {
  color: var(--wizardblue);
}

.txtActive {
  display: block;
}

@media (max-width: 1400px) {
  .modalContent {
    width: 20%;
  }
}
@media (max-width: 1200px) {
  .modalContent {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .modalContent {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .modalContent {
    width: 50%;
  }
}