.welcomePage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(50, 50, 50, 0.8);
  display: grid;
  place-items: center;
  transition: 0.3s;
  transition-delay: 0.7s;
  z-index: 999;
}

.welcomeInactive {
  opacity: 0;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  background-color: var(--navy);
  border-radius: 16px;
  padding: 32px;
  transform: translateY(-400%);
}

.contentActive {
  animation: contentEnter 0.8s ease-in forwards;
}

.contentInactive {
  animation: contentLeave 0.8s ease-in forwards;
}

.wheres {
  font-size: 4rem;
  font-weight: bold;
  color: red;
}

.waldo {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.playGame {
  font-size: 5rem;
  background-color: red;
  border: none;
  color: white;
  padding: 0 16px;
  border-radius: 12px;
  z-index: 1;
}

.playGame:hover {
  cursor: pointer;
}

.waldoImg {
  position: absolute;
  width: 50px;
  transform: translate(80%, 130%);
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.waldoActive {
  transform: translate(80%, 40%) rotate(10deg);
}

@keyframes contentLeave {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(400%);

  }
}

@keyframes contentEnter {
  0% {
    transform: translateY(-400%);
  }

  80% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}